# Thanks to infinity to https://github.com/gha3mi/setup-fortran-conda
# for setting this up. MIT Licensed.
name: LFORTRAN CI

on: [pull_request, push]

permissions:
  contents: write
  pull-requests: write

jobs:

  test_fpm:
    name: ${{ matrix.os }}_${{ matrix.compiler }}_fpm
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
        compiler: [lfortran]
        include:
          - os: ubuntu-latest
            extra-packages: ""
          - os: windows-latest
            extra-packages: ""

    steps:
      - name: Setup Fortran
        uses: gha3mi/setup-fortran-conda@latest
        with:
          compiler: ${{ matrix.compiler }}
          platform: ${{ matrix.os }}
          extra-packages: ${{ matrix.extra-packages }}

      - name: fpm versioning
        run: fpm --version

      - name: Set linker if macOS
        if: matrix.os == 'macos-latest'
        run: echo "LFORTRAN_LINKER=clang" >> $GITHUB_ENV

      - name: fpm build
        run: fpm build --compiler ${{ matrix.compiler }} --profile debug --verbose --flag "--cpp --std=f23"

      - name: fpm build (release)
        run: fpm build --compiler ${{ matrix.compiler }} --profile release --verbose --flag "--cpp --std=f23"
